@import 'reset';

.layout {

}

.header {
  background-color: black;
  color: white;
  padding: 2em 2em 2em 2em;
  font-size: 1.2em;
  font-family: 'Pacifico', cursive;

}

.headerLinks {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid black;
  
}

// To allow text to fit in the headerlinks container, I did the following:
  // * applied styles to headerLinks li - display-block and set width to 25%
  // Floated the elements left (or could float right) but 3rd element still wrapped to next line due
  // to added boarder.  To remedy, added a element to each text item and a class "icons" to the last
  // element.   Added boarder to all those a elements and remove it from teh class "icons" element.
  // Also had to add a container inside of each box.

.layout {
  font-family: 'Lato', sans-serif;
}

.headerLinks li{
  display: block;
  font-size: 1.2em;
  width: 25%;
  text-align: center;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
}

.headerLinks li a{
  display: block;
  font-size: 1.2em;
  text-align: center;
  border-right: 1px solid black;
  padding: 1em 0em 1em 0em;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 900;
}

.headerLinks li.icons a {
  border-right: none;
}

.openHeader {
  // height: 20em;
  // margin: .5em;
  // background-color: blue;
  text-align: center;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  padding: 5%;
  border-bottom: solid black 3px

}

.imagewrap img {
  width: 100%;
  height: auto;
}

.headertext {
  // font-size: 1em;
  // text-align: center;
  // padding: 10em;
  margin: .5em;
  margin-bottom: 0.1em;
  color: black;

}

.headertext h1 {
  padding-top: .5em;
  color: black; 
}

.line2 {
  font-weight: bold;
}



.headertext h2 {
  color: #B9BAB6;
  font-style: italic;
  padding-top: 0.5em;
}


.text {
  padding: 1em 1em;
  font-size: 16px;

}

.projects {
  height: 50em;
  background-color: #C2C4BE;
  padding: 0em 1em 0em 1em;

}

.pImage1 img {
  display: block;
  width: 100%;
  background-color: #8C8685;
}

.pImage1text {
  display: block;
  margin: 0 auto;
}

.pImage1text p {
padding-bottom: 1em;
border-bottom: solid 1px black;
}


.projecthead {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px black;

}

.projecthead ol {
  overflow: hidden;
  list-style: none;
  width: 100%;
  font-size: 0;

}

.projecthead h3 {
  padding-top: 1em;
}

.line1 {
  font-weight: 900;
}

.projecthead li {
  display: inline-block;
  text-align: center;
  width: 25%;
  padding-top: 2em;
  // float: left;
  list-style: none;
  font-size: 32px;
}

.projecthead li a{
  font-size: 0.5em;
  // padding: .1em;
  text-decoration: none;
  color: #B9BAB6;
  width: 100%;
}

.projects {
  height: 50em;
  background-color: #F1F2ED;
  padding: 0em 1em 0em 1em;
}

.projects li {
  text-align: center;

}

.imagecontainer img {
  display: block;
  margin: 0 auto;
}

.footer{
  height: 10em;
  margin-top: 5em;
}
